.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;  
}
.card {
    border: 0;
    border-radius: .3rem;    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1.5rem;
}
.card h4, .card p {
    margin-bottom: 0;
}
.card .snip {
    font-weight: 100 !important;
    font-size: 1.2rem
}
.card light {
    font-weight: 100;
}
.card .button-primary {
    margin-right: .5rem;
}