/*
    palette

    navy: #18121E
    gunmetal: #233237
    rust: #984B43
    yellow: #EAC67A
    cream: #FFFFCC

    cerulean: #4484CE
    aluminum: #D9D9D9
    light: #F9CF00
    tangerine: #F19F4D
*/
#ui {
    box-sizing: border-box;
    overflow-x: hidden;
}

/* override bootstrap navbar */
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { 
    color: #ffffff; 
} 
.masthead {
    box-sizing: border-box;
    background: url(/img/mount.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
}
#name {
    color: #F19F4D;
    font-size: 115px;
    padding-top: 60px;
    text-align: center;
}
#brand {
    margin: auto;
    width: 40vw;
}
#start {
    padding: 50px;
    margin: auto;
    width: 40vw;
}
#job-view {
    height: 100vh;
    overflow-y: auto;
    background-color: #233237;
}
#desc {
    margin: auto;
    overflow-y: auto;
    margin-top: 40px;
}
.modal-body {
    overflow-y: auto !important;
    max-height: 350px !important;
}
/* overrice mdb */
.btn-primary {
    background-color: #F19F4D !important;
}
.modal-info .modal-header {
    background-color: #a6c !important;
}