<header class="masthead">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">portfol.io</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">HOME</a></li>
            <li><a ui-sref="submit">USE</a></li>
            <li><a ui-sref="about">ABOUT</a></li>
        </ul>
    </nav>
    <div id="text-center">
        <h1 id="name">portfol.io</h1>
        <!--<h3 id="tagline">A career app curator for job seekers.</h3>-->
        <button id="btn-start" class="btn">Get Started</button>
    </div>
</header>