<div>
  <input type="file" ngf-select="seeker.onFileSelect($files)" multiple>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="form-view" class="col-lg-6">
            <div id="desc" class="col-lg-11">

                <h1 class="h1-responsive">Venndr</h1>
                <hr class="hr-light">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus imperdiet fermentum. Maecenas sit amet odio quis mauris
                    finibus hendrerit. Nullam venenatis eget magna ac volutpat. Maecenas id gravida turpis. Vivamus lacinia,
                    eros vel accumsan porta, enim sem malesuada sapien, bibendum dignissim est nisl vitae odio. Vivamus laoreet
                    commodo arcu, non commodo tellus luctus ut. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Curabitur pharetra convallis venenatis.
                </p>
                <hr class="hr-light">
                <div class="file-field">
                    <button type="button" class="btn btn-secondary">
                    Resume Upload
                </button>
                </div>
            </div>
        </div>

        <div id="job-view" class="card col-lg-6">

            <!-- repeated for each job sent by the api -->
            <div ng-repeat="post in seeker.jobs.$$state.value.data.result" class="container job-card">
                <div class="jumbotron">
                    <h1 class="h1-responsive">{{ post.company }}</h1>
                    <p class="lead">
                        {{ post.title }} - {{ post.type }}
                        <br> {{post.location}}
                    </p>
                    <hr class="my-2">
                    <span ng-bind-html="seeker.getPrettyString(post.description)"></span>
                    <p class="lead">
                        <a class="btn btn-success btn-lg" target="_blank" ng-href="{{post.url}}" role="button">Apply</a>
                        <a class="btn btn-secondary btn-lg" ng-click="seeker.magicModal(post)" data-toggle="modal" data-target="#learn" role="button">Learn More</a>
                        <a class="btn btn-info btn-lg" target="_blank" ng-href="{{post.company_url}}" role="button">About {{ post.company}}</a>
                    </p>
                </div>
            </div>

        </div>

    </div>

    <!-- dynamic modal -->

    <div class="modal fade" id="learn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p style="font-size: 150%;" class="heading lead">{{ seeker.modal.company }}</p>
                    <!-- x button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                </div>
                <hr class="hr-light">
                <!--Body-->
                <div class="modal-body">
                    <p><strong>{{ seeker.modal.title }}</strong> - {{ seeker.modal.type }} 
                    <br> {{seeker.modal.location }}
                    <br>Keyword Matches: {{seeker.modal.occurences}}</p>

                </div>
                <div class="modal-body">
                    <span id="modal-desc" ng-bind-html="seeker.modal.description"></span>
                </div>
                <div class="modal-body">
                    <span ng-bind-html="seeker.modal.how_to_apply"></span>

                </div>
                <hr class="hr-light">
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <p class="lead">
                        <a class="btn btn-success btn-lg" target="_blank" ng-href="{{seeker.modal.url}}" role="button">Apply</a>
                        <a class="btn btn-info btn-lg" target="_blank" ng-href="{{seeker.modal.company_url}}" role="button">About {{ seeker.modal.company}}</a>
                    </p>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>