/*
    palette

    navy: #18121E
    gunmetal: #233237
    rust: #984B43
    yellow: #EAC67A
    cream: #FFFFCC

    cerulean: #4484CE
    aluminum: #D9D9D9
    light: #F9CF00
    tangerine: #F19F4D
*/
html, body {
    margin: 0;
    height: 100%;
}
#ui {
    box-sizing: border-box !important;
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
}
.bg-venndr {
    background-color: #BC5473;
}
.bottom {
    padding: 45px 0;
    background-color: #F1C99F;
    color: #fff;
}
.ad {
    padding: 90px 0;
}
.ad-section {
    width: 33%;
    padding: 0 20px;
}
.ad-head {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}
.ad-par {
    margin-top: 10px;
    font-size: 17px;
    line-height: 32px;
    font-weight: 100;

}
.base {
    align-items: baseline;
}
.btn-venndr {
    background-color: #fff;
    color: #BC5473;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    padding: 0 30px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .3px;
    border: 1px solid #fff;
    text-decoration: none;
}
.fat {
    width: 100%;
    padding: 0 20px;
}
.get-started {
    margin: 40px 0 0 0;
}
.text-center {
    text-align: center;    
}
.blurb {
    font-size: 17px;
    line-height: 32px;
    font-weight: 100px;
}
.tagline {
    margin: 120px 0 0 0;
    font-weight: 100;
    font-size: 50px;
    line-height: 68px;
}
.space {
    justify-content: space-between;
    display: flex;
}
.brand {
    font-size: 1.5rem;
}
.center {
    align-items: center;
    display: flex;
}
.container-v-b {
    display: flex;
    max-width: 1080px;
    margin: auto;
}
.container-v-s {
    max-width: 800px;
    margin: auto;
    widows: 100%;
}
.navbar-brand {
    font-size: 1.25rem;
    color: #fff;
}
.masthead {
    padding: 20px 0 90px 0;
    overflow: hidden;
    background-color: #BC5473;
    color: #fff;
}
#name {
    color: #a6c;
    font-size: 170px;
    padding-top: 60px;
    text-align: center;
}
#tagline {
    color: #ffffff;
    font-size: 40px;
    padding-top: 20px;
    text-align: center; 
}
#brand {
    margin: auto;
    width: 40vw;
}
#start {
    padding: 50px;
    margin: auto;
    width: 40vw;
}
#job-view {
    height: 100vh;
    overflow-y: auto;
    background-color: #233237;
}
#desc {
    margin: auto;
    margin-top: 40px;
}
.modal-body {
    overflow-y: auto !important;
    max-height: 350px !important;
}
/* overrice mdb */
.btn-primary {
    background-color: #F19F4D !important;
}
.modal-info .modal-header {
    background-color: #a6c !important;
}
.job-card {
    margin-top: 15px;
}