<!-- <header class="masthead">
    <div class="container-v-b">
        <div class="fat space center">
            <a class="brand">Venndr</a>
            <div class="space">
                <a class="nav-link">Work</a>
                <a class="nav-link">Hire</a>
                <a class="nav-link">About</a>
            </div>
        </div>
    </div>
    <div class="container-v-b">
        <div class="fat">
            <h1 class="tagline text-center">Love your job.</h1>
        </div>
    </div>
    <div class="container-v-s">
        <div class="fat text-center">
            <h2 class="blurb">
                venndr automates the boring aspects of job hunting by curating personalized checklists of job postings using your resume,
                so you can spend less time searching, and more time applying.
            </h2>
            <div class="get-started">
                <button type="button" class="btn-venndr">Get Started</button>
            </div>
        </div>
    </div>
</header>
<div class="ad">
    <div class="container-v-b base">
       <div class="ad-section">
            <h3 class="ad-head">Refine Your Resume</h3>
            <p class="ad-par">
                It's no secret; companies use ATS.
                Learn to tailor your resume to circumvent
                job ATS resume filters.
                <p>
        </div>
        <div class="ad-section">
            <h3 class="ad-head">Capitalize Your Skillset</h3>
            <p class="ad-par">Landing an interview with a corporation can feel impossible
                <p>
        </div>
        <div class="ad-section">
            <h3 class="ad-head">Discover Your Niche</h3>
            <p class="ad-par">Landing an interview with a corporation can feel impossible
                <p>
        </div>
    </div>
</div>
<footer class="bottom">
    
</footer>
 -->


<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="#">
                <strong>Venndr</strong>
            </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
            <form class="form-inline waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </div>
</nav>
<!--/.Navbar-->





<!--Mask-->
<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <div class="animated fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 left-info">
                        <h1 class="h1-responsive">Jumpstart your career</h1>
                        <hr style="background-color: #fff">
                        <p class="left-info-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
                            ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                            Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu
                            eget nulla. Cl
                            <p>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-block" style="color: #000">
                                <div class="text-center">
                                    <h3><i class="fa fa-search"></i> Get Started:</h3>
                                    <hr class="mt-2 mb-2">
                                </div>

                                <div class="md-form">
                                    <!-- <i class="fa fa-map-marker prefix"></i> -->
                                    <input placeholder="City, state, or zip code" type="text" id="loc" ng-model="home.location" class="venndr-text-input form-control">
                                    <label class="form-field-label" for="loc">Your location</label>
                                </div>

                                <div class="md-form">
                                    <!-- <i class="fa fa-briefcase prefix"></i> -->
                                    <input placeholder="Keyword, job title, etc." type="text" id="prof" ng-model="home.field" class="form-control">
                                    <label class="form-field-label" for="prof">Your field</label>
                                </div>

                                <div class="md-form">
                                    <!-- <button class="btn btn-deep-purple">Resume Upload</button> -->
                                    <input ngf-select ng-model="home.resume" type="file" id="file-1" class="inputfile inputfile-1">
                                    <label for="file-1" class="card">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        <span>Your resume</span>
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="text-center">
                                    <button class="btn btn-primary" ng-click="home.submit()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.Mask-->

<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid panel">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">ABOUT MATERIAL DESIGN</h5>
                <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>

                <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and
                    JS framework - Bootstrap.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-lg-2 col-md-4 offset-lg-1">
                <h5 class="title">First column</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Second column</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Third column</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <h4>Material Design for Bootstrap</h4>
        <ul>
            <li>
                <h5>Get our UI KIT for free</h5>
            </li>
            <li><a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-danger" rel="nofollow">Sign up!</a></li>
            <li><a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default" rel="nofollow">Learn more</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->